{% set title="Contact - MAS Effects (guitar pedals)" %}
{% extends "partials/template.html" %}

{% block body %}

  <section class="page-section bg-dark text-white">
    <div class="container">
      <div class="row">
        <div class="col text-center mt-3">
          <h1 class="text-uppercase">Contact</h2>
          <div class="intro-lead-in">MAS Effects</div>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section">
    <div class="container">
      <div class="row">
        <div class="col pt-2">
          <h2>Message Sent!</h2>
          <p>Your message has been sent (to <a href="mailto:stratman@gmail.com">stratman@gmail.com</a>). I'll get back to you shortly. Thanks!</p>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
