{% set title="Contact - MAS Effects (guitar pedals)" %}
{% extends "partials/template.html" %}

{% block body %}

  <section class="page-section bg-dark text-white">
    <div class="container">
      <div class="row">
        <div class="col text-center mt-3">
          <h1 class="text-uppercase">Contact</h2>
          <div class="intro-lead-in">MAS Effects</div>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section">
    <div class="container">
      <div class="row">
        <div class="col pt-2">

          <form action='https://forms.zohopublic.com/virtualoffice17346/form/ContactForm/formperma/dVh_oqwFGMlzMiYQLJ02wtDhslKYV-MuXWMp8VtYbDc/htmlRecords/submit' name='form' id='form' method='POST' accept-charset='UTF-8' enctype='multipart/form-data'>
            <input type="hidden" name="zf_referrer_name" value="">
            <!-- To Track referrals , place the referrer name within the " " in the above hidden input field -->
            <input type="hidden" name="zf_redirect_url" value="">
            <!-- To redirect to a specific page after record submission , place the respective url within the " " in the above hidden input field -->
            <input type="hidden" name="zc_gad" value="">
            <!-- If GCLID is enabled in Zoho CRM Integration, click details of AdWords Ads will be pushed to Zoho CRM -->
            <h2>Contact Us</h2>
            <p></p>
            <!--Single Line-->
            <label>Name
            </label>
            <input type="text" name="SingleLine" value="" maxlength="255" />
            <!--Email-->
            <label>Email
                <em>*</em>
            </label>
            <input type="text" maxlength="255" name="Email" value="" />
            <!--Multi Line-->
            <label>Message
                <em>*</em>
            </label>
            <textarea name="MultiLine" maxlength="65535"></textarea>
            <button type="submit"><em>Submit</em></button>
          </form>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
