{% set title="Programs for the FV-1 guitar pedal, Mimir's Well" %}
{% extends "partials/template.html" %}

{% block body %}
  <section class="page-section bg-dark text-white">
    <div class="container">
      <div class="row">
        <div class="col text-center mt-3">
          <h1 class="text-uppercase">Programs for Mimir's Well</h2>
          <div class="intro-lead-in">EEPROM Builder</div>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2>Overview</h2>
          <h3 class="display-6 text-muted">In case you missed it...</h3>
          <p class="TODO">link to view/hide</p>
          <p>Mimir's Well gives you 7 great built-in programs (each program is an effect pedal), and supports 2 banks of 8 programs each.  That's effectively 23 different pedals you can choose between.</p>
          <p>If you want even more, you can build more and simply unscrew the back of the pedal and <a class="TODO" href="#TODO">swap out pairs of EEPROMs</a> to change banks.</p>
          <h3 class="display-6 text-muted">How to use this page...</h3>
          <p class="TODO">link to view/hide</p>
          <ol>
            <li><strong>Choose your programs</strong> in sets of 8 (or fewer)
              <ul>
                <li>Choose sets of my favorites with pre-made banks - and optionally swap out whatever you want</li>
                <li>Choose from the curated list of programs below, or</li>
                <li>Write in additional programs from the master list here: <a target="_blank" href="https://mstratman.github.io/fv1-programs/">https://mstratman.github.io/fv1-programs/</a></li>
              </ul>
            </li>
            <li><strong>Copy the contents of the "your banks" text box</strong> and include it when asked during checkout while purchasing <a target="_blank" href="https://mas-effects.square.site/product/mimir-s-well-fv-1-dsp-pedal-platform-coming-soon-pre-order-/2?cp=true&sa=true&sbp=false&q=false">the pedal</a> or <a target="_blank" href="https://mas-effects.square.site/product/custom-eeprom-set/4?cp=true&sa=true&sbp=false&q=false">extra EEPROM banks</a>. You can also email <a href="mailto:stratman@gmail.com">stratman@gmail.com</a> after purchasing and send me your program list.</li>
          </ol>
          <h3 class="display-6 text-muted">Prefer a more human approach?</h3>
          <p>Altnernatively, feel free to email me at <a href="mailto:stratman@gmail.com">stratman@gmail.com</a> and tell me what you're looking for and I can help you put together your banks.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <h2>EEPROM Builder: My Banks</h2>
          <h3 class="display-6 text-muted">MAS Favorites</h3>
          <h3 class="display-6 text-muted">The Curated List</h3>
          <h3 class="display-6 text-muted">SHOW ME EVERYTHING!</h3>
          <p>You can find even more programs by going to this master list: <a target="_blank" href="https://mstratman.github.io/fv1-programs/">https://mstratman.github.io/fv1-programs/</a>.</p>
        </div>
      </div>
    </div>
  </section>


{% endblock %}
