<% set title="Custom Guitar Pedals" %>
<% extends "partials/_template.html" %>

<% block body %>
  <section class="page-section bg-dark text-white">
    <div class="container">
      <div class="row">
        <div class="col text-center mt-3">
          <h1 class="text-uppercase">Custom Guitar Pedals</h2>
          <div class="intro-lead-in">One-off Pedal Clones</div>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section">
    <div class="container">
      <div class="row">
        <p>More details coming soon. The super short version is: <a href="mailto:mark@mas-effects.com">Email me (mark@mas-effects.com)</a> if you're interested in having a custom pedal made.</p>
        <p>A fantastic option is the <a href="https://mas-effects.square.site/product/shelter/15?cp=true&sa=true&sbp=false&q=false" target="_blank">"Mimir's Horn", a trimmed-down version</a> of the <a href="/mimirs-well.html">Mimir's Well pedal platform</a>.</p>
        <p>I've made plenty of other one-off pedals, mostly clones (sometimes with mods). <a href="https://mas-effects.square.site/shop/pedals/2" target="_blank">See some here, including a few still available</a></p>
      </div>
    </div>
  </section>

<% endblock %>
