<% set title="MAS Effects: FV-1 Pedal Platform and other custom guitar pedals" %>
<% extends "partials/_template.html" %>

<% block body %>
  <!-- Header -->
  <header class="masthead">
    <div class="container">
      <div class="intro-text">
        <div class="intro-lead-in">One Pedal, Endless Possibilities</div>
        <h1 class="intro-heading text-uppercase">Mimir's Well</h1>
        <h2 class="intro-lead-in normal-style">Pedal Platform</h2>
        <div class="mb-2">
          <a class="btn btn-primary btn-xl text-uppercase" href="/mimirs-well.html">Learn More</a>
        </div>
        <div class="mt-2">
          <a class="btn btn-outline-primary btn-lg text-uppercase js-scroll-trigger" href="https://mas-effects.square.site/product/mimirs-well/2?cp=true&sa=false&sbp=false&q=false&category_id=3" target="_blank">Buy Now</a>
        </div>
      </div>
    </div>
  </header>

  <section class=" bg-light page-section">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <h2 class="section-heading text-uppercase">Overview</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-6 col-lg-8 order-2 order-md-1">
          <h5>The Opportunity</h5>
          <p>Many of <strong>your favorite pedals have nearly identical circuitry</strong>, with the only important difference being the <strong>patches</strong> running on their FV-1 audio DSPs <em>(digital signal processors)</em>. We're not talking about cheap multi-effects units, but some of the <strong>most popular, high-end pedals</strong> out there (EQD, EHX, Walrus, Chase Bliss, and tons more).
          </p>
          <p>Pedal companies obviously want you to buy multiple pedals, each running only a single patch. This creates a neat little niche in the market for something like this.</p>
          <h5>The Outcome</h5>
          <p>Mimir's Well is a <strong>very limited</strong> batch of <strong>expertly handcrafted</strong> pedals.
          It uses all of its hardware to run a single patch at a time, like your other favorite pedals that use the FV-1 (e.g. Dispatch Master, Rainbow Machine, Arp 87). Unlike those, though, it also <strong>holds 23 patches</strong> you can switch between. You <strong>customize your pedal by choosing from 163+ patches</strong> designed by amazing audio engineers and enthusastic members of the DIY pedal community.
          </p>
        </div>
        <div class="col-12 col-md-6 col-lg-4 order-1 order-md-2 mb-4">
          <a target="_blank" href="/img/cover1-squared.jpg">
            <img class="img-fluid" src="/img/cover1-squared-reduced.jpg" alt="Mimir's Well - FV-1 DSP Pedal Platform" />
          </a>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-12 col-lg-6 mt-2">
          <a href="/mimirs-well.html" class="btn btn-primary btn-lg btn-block">
            Learn More
          </a>
        </div>
        <div class="col-12 col-lg-6 mt-2">
          <a target="_blank" href="https://mas-effects.square.site/product/mimirs-well/2?cp=true&sa=false&sbp=false&q=false&category_id=3" class="btn btn-outline-primary btn-lg btn-block">
            BUY NOW
          </a>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-teal page-section">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <h2 class="section-heading text-uppercase">Signup For Discounts</h2>
          <h3 class="section-subheading text-muted">Get occassional discount promo codes, or other news about these pedals</h3>
          <form action="https://formspree.io/mpzdlzzl" method="POST">
            <div class="form-row justify-content-center">
              <div class="form-group col-12 col-sm-8 col-lg-5 col-xl-4">
                <label for="input-email-1" class="sr-only">Email:</label>
                <input type="text" class="form-control mr-2" id="input-email-1" placeholder="you@example.com" name="_replyto" autocomplete="email">
              </div>
              <div class="col-12 col-sm-4 col-lg-3 col-xl-2">
                <button type="submit" class="btn btn-block btn-primary">Yes, Please!</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section" id="other-pedals">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <h2 class="section-heading text-uppercase">Other Pedals</h2>
          <h3 class="section-subheading text-muted">Custom one-off pedals.</h3>
          <p>These are just a few. <a target="_blank" href="https://mas-effects.square.site/shop/pedals/2">See more here</a></p>
        </div>
      </div>
      <div class="row">
        <div class="col-6 col-sm-6 col-md-3 text-center">
          <a class="text-decoration-none" href="/guitar-pedals.html">
            <div class="caption">Your Own Custom Guitar Pedal</div>
            <img class="img-fluid other-pedal-thumbnail" src="/img/other-pedals/custom.png" alt="Custom Guitar Pedal" />
          </a>
        </div>
        <div class="col-6 col-sm-6 col-md-3 text-center">
          <a target="_blank" class="text-decoration-none" href="https://mas-effects.square.site/product/shelter/15?cp=true&sa=true&sbp=false&q=false">
            <div class="caption">Mimir's Horn</div>
            <img class="lazy img-fluid other-pedal-thumbnail" src="/img/other-pedals/fv1-placeholder.jpg" data-src="/img/other-pedals/fv1.png" alt="Mimir's Horn" />
          </a>
        </div>
        <div class="col-6 col-sm-6 col-md-3 text-center">
          <a target="_blank" class="text-decoration-none" href="https://mas-effects.square.site/product/wendigo-scrambler-octave-fuzz-based-on-ampeg-scrambler/10?cp=true&sa=false&sbp=false&q=false&category_id=2">
            <div class="caption">Wendigo Scrambler</div>
            <img class="lazy img-fluid other-pedal-thumbnail" src="/img/other-pedals/wendigo-scrambler-placeholder.jpg" data-src="/img/other-pedals/wendigo-scrambler.png" alt="Wendigo Scrambler" />
          </a>
        </div>
        <div class="col-6 col-sm-6 col-md-3 text-center">
          <a target="_blank" class="text-decoration-none" href="https://mas-effects.square.site/product/eqd-the-depths-clone-optical-vibe-guitar-pedal/3?cp=true&sa=true&sbp=false&q=false">
            <div class="caption">Optical Vibe - The Depths Clone</div>
            <img class="lazy img-fluid other-pedal-thumbnail" src="/img/other-pedals/the-depths-placeholder.jpg" data-src="/img/other-pedals/the-depths.png" alt="The Depths guitar pedal Clone" />
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-lg-6 mt-2">
          <a href="/guitar-pedals.html" class="btn btn-primary btn-lg btn-block">
            Get a Custom Pedal
          </a>
        </div>
        <div class="col-12 col-lg-6 mt-2">
          <a target="_blank" href="https://mas-effects.square.site/shop/pedals/2" class="btn btn-outline-primary btn-lg btn-block">
            See More
          </a>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section bg-light" id="diy">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <h2 class="section-heading text-uppercase">DIY Guitar Pedals</h2>
          <h3 class="section-subheading text-muted">Kits and PCBs to make your own</h3>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p>If you like to make your own pedals, here are a couple of things you may enjoy:</p>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <h4>Mimir's Well Partial Kit</h4>
          <p>Want to build your own Mimir's Well? This kit takes away some of the trickiest challenges of a complex, but fun and rewarding pedal build.</p>
          <p>This and more in the <a target="_blank" href="https://mas-effects.square.site/shop/diy/5">DIY section the store...</a></p>
        </div>
        <div class="col-6">
          <h4 class="text-center">The Tiniest Fuzz... the world never thought it needed</h4>
          <h5 class="text-center section-subheading mb-1 text-muted">(and probably doesn't)</h5>
          <p>This is probably the world's smallest fuzz pedal, and a great opportunity to learn surface mount (SMD) soldering.</p>
          <p>There's also a 3PDT-mounted version with some extra bells and whistles.</p>
          <p>This and more in the <a target="_blank" href="https://mas-effects.square.site/shop/smd-fuzz-pcbs/7">SMD Fuzz section the store...</a></p>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <a target="_blank" class="text-decoration-none" href="https://mas-effects.square.site/shop/diy/5">
            <img class="lazy img-fluid" src="/img/diy/kit-placeholder.jpg" data-src="/img/diy/kit.jpg" alt="Mimir's Well - Partial Kit" />
          </a>
        </div>
        <div class="col-6 text-center">
          <a target="_blank" class="text-decoration-none" href="https://mas-effects.square.site/shop/smd-fuzz-pcbs/7">
            <img class="lazy img-fluid" src="/img/diy/picofuzz-placeholder.jpg" data-src="/img/diy/picofuzz.jpg" alt="PicoFuzz SMD fuzz pedal" />
          </a>
        </div>
      </div>
    </div>
  </section>

<% endblock %>
