<% set title="MAS Effects: FV-1 Pedal Platform and other custom guitar pedals" %>
<% extends "partials/template.html" %>

<% block body %>
  <!-- Header -->
  <header class="masthead">
    <div class="container">
      <div class="intro-text">
        <div class="intro-lead-in">One Pedal, Endless Possibilities</div>
        <h1 class="intro-heading text-uppercase">Mimir's Well</h1>
        <h2 class="intro-lead-in normal-style">FV-1 DSP Pedal Platform</h2>
        <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="https://mas-effects.square.site/product/mimirs-well/2?cp=true&sa=false&sbp=false&q=false&category_id=3" target="_blank">Buy Now</a>
      </div>
    </div>
  </header>

  <section class="page-section">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <h2 class="section-heading text-uppercase">Overview</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-6 col-lg-8 order-2 order-md-1">
          <p>More info coming soon. <a href="mailto:mark@mas-effects.com">Email me</a> to get notified when this site is updated.</p>
          <p>In the meantime, you can <a target="_blank" href="https://mas-effects.square.site/product/mimirs-well/2?cp=true&sa=false&sbp=false&q=false&category_id=3">purchase now in the online store</a>.</p>
        </div>
        <div class="col-12 col-md-6 col-lg-4 order-1 order-md-2">
          <a target="_blank" href="/img/cover1.jpg">
            <img class="img-fluid" src="/img/cover1-reduced.jpg" alt="Mimir's Well - FV-1 DSP Pedal Platform" />
          </a>
        </div>
      </div>
    </div>
  </section>

  <!--
  <section class="page-section">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <h2 class="section-heading text-uppercase">Perfect For...</h2>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-12 col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-wine-glass-alt fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">The Connoisseur</h4>
          <div class="subheading mb-2">Your meticulously selected, killer effects</div>
          <p class="text-muted text-justify">We can help you sort through hundreds of awesome pedal programs and <strong>find the precious few</strong> you'll take to your grave...</p>
          <div class="d-md-none mb-5">
            <a class="btn btn-outline-secondary" href="/mimirs-well.html#use-cases">Learn more</a>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-crosshairs fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">The Specialist</h4>
          <div class="subheading mb-2">Deep dive into one effect</div>
          <p class="text-muted text-justify">
          Want <strong>every possible variation</strong> of a Shimmer Reverb, or half a dozen Ping Pong delays? You'll have plenty of options to dial in the perfect sound...</p>
          <div class="d-md-none mb-5">
            <a class="btn btn-outline-secondary" href="/mimirs-well.html#use-cases">Learn more</a>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-cogs fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">The Tinkerer</h4>
          <div class="subheading mb-2">Endlessly experiment</div>
          <p class="text-muted text-justify">Want to <strong>explore dozens or hundreds</strong> of pedals? Maybe even write your own?! This is the platform for you...</p>
          <div class="d-md-none mb-5">
            <a class="btn btn-outline-secondary" href="/mimirs-well.html#use-cases">Learn more</a>
          </div>
        </div>
      </div>
      <div class="d-none d-md-block">
        <div class="row text-center">
          <div class="col-md-4">
            <a class="btn btn-outline-primary" href="/mimirs-well.html#use-cases">Learn more</a>
          </div>
          <div class="col-md-4">
            <a class="btn btn-outline-primary" href="/mimirs-well.html#use-cases">Learn more</a>
          </div>
          <div class="col-md-4">
            <a class="btn btn-outline-primary" href="/mimirs-well.html#use-cases">Learn more</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-light page-section">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <h2 class="TODO section-heading text-uppercase">Signup For Discounts</h2>
          <h3 class="section-subheading text-muted">Get occassional discount promo codes</h3>
          <form>
            <div class="form-row justify-content-center">
              <div class="form-group col-12 col-sm-8 col-lg-5 col-xl-4">
                <label for="input-email-1" class="sr-only">Email:</label>
                <input type="text" class="form-control mr-2" id="input-email-1" placeholder="you@example.com">
              </div>
              <div class="col-12 col-sm-4 col-lg-3 col-xl-2">
                <button type="submit" class="btn btn-block btn-primary">Yes, Please!</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <h2 class="section-heading text-uppercase">Another section</h2>
          <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section bg-teal">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <h2 class="section-heading text-uppercase">Another section</h2>
          <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section" id="other-pedals">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <h2 class="section-heading text-uppercase">Other Pedals</h2>
          <h3 class="section-subheading text-muted">Custom one-off pedals.</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-4">
          <a class="text-decoration-none" href="/other-pedals.html">
            <img class="img-fluid" src="/img/mockup/td-square-md.png" alt="The Depths guitar pedal Clone" />
            <div class="caption">Optical Vibe - The Depths Clone</div>
          </a>
        </div>
        <div class="col-12 col-md-4">
          <a class="text-decoration-none" href="/other-pedals.html">
            <img class="img-fluid" src="/img/mockup/td-square-md.png" alt="The Depths guitar pedal Clone" />
            <div class="caption">Optical Vibe - The Depths Clone</div>
          </a>
        </div>
        <div class="col-12 col-md-4">
          <a class="text-decoration-none" href="/other-pedals.html">
            <img class="img-fluid" src="/img/mockup/noun_Guitar Pedal_25357.png" alt="Custom Guitar Pedal" />
            <div class="caption">Your Own Custom Guitar Pedal clone</div>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col text-center">
          <a class="btn btn-outline-primary" href="/other-pedals.html">More</a>
          <a class="btn btn-primary" href="/other-pedals.html">Buy one</a>
        </div>
      </div>
    </div>
  </section>
  -->
<% endblock %>
