<% set title="Mimir's Well: Guitar Pedal Platform powered by the FV-1 DSP" %>
<% extends "partials/_template.html" %>

<% block body %>
  <section class="page-section bg-dark text-white mimirs-well-masthead">
    <div class="container">
      <div class="row">
        <div class="col text-center mt-3">
          <h1 class="text-uppercase">Mimir's Well</h2>
          <div class="intro-lead-in">FV-1 DSP Pedal Platform</div>
          <div class="mt-5 text-center">
            <a target="_blank" href="https://mas-effects.square.site/product/mimirs-well/2?cp=true&sa=false&sbp=false&q=false&category_id=3" class="btn btn-xl btn-primary">Buy Now</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div id="top" class="anchor"></div>

  <section class="page-section">
    <div class="container">
      <div class="my-3">
        <em>Update June 1, 2020:</em>
        <ul>
          <li>There are quite a few white ones remaining, <s>and 1 blemished</s> <em>(sold out now)</em>, but sorry, the <strong>Midnight black version is sold out</strong>.</li>
          <li>This was a <strong>one-time, limited batch</strong> of pedals. If it sells out and you still want one, <a href="mailto:mark@mas-effects.com">email me</a> to let me know. I'll make a second batch if there's demand.</li>
        </ul>
      </div>
      <div id="walkthrough" class="anchor"></div>
      <h2 class="section-heading text-uppercase text-center">Walkthrough</h2>
      <h5 class="section-subheading text-muted text-center">What are the controls? What does it look like?</h5>
      <% include "partials/labels.html" %>
      <div class="mt-3">
        <% include "partials/gallery.html" %>
      </div>

      <h3 class="mt-3 section-heading text-uppercase text-center">Video Demo</h3>
      <div class="row">
        <div class="col text-center">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/--YZoidPLSY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section">
    <div class="container">
      <h2 class="section-heading text-uppercase text-center">Overview</h2>
      <h5 class="subheading text-muted text-center mb-3">23 Pedals in One Enclosure</h5>
      <% include "partials/mimirs-well-intro.html" %>
    </div>
  </section>

  <a class="anchor" id="built-in-patches"></a>
  <section class="page-section bg-light">
    <div class="container">
      <h2 class="section-heading text-uppercase text-center">Patches</h2>
      <h5 class="section-subheading text-muted text-center">What sounds can you make?</h5>
      <% include "partials/patches.html" %>
    </div>
  </section>


  <section class="page-section version-comparison">
    <div class="container">
      <h2 class="section-heading text-uppercase text-center">3 Versions</h2>
      <% include "partials/versions.html" %>
    </div>
  </section>

  <section class="page-section">
    <div class="container">
      <h2 class="section-heading text-uppercase text-center">Perfect for...</h2>
      <% include "partials/use-cases.html" %>
    </div>
  </section>

  <section class="page-section bg-light">
    <div class="container">
      <h2 class="section-heading text-uppercase text-center">Free and Open Source</h2>
      <% include "partials/oss.html" %>
    </div>
  </section>

  <section class="page-section">
    <div class="container">
      <h2 class="section-heading text-uppercase text-center">FAQ</h2>
      <% include "partials/faq.html" %>
    </div>
  </section>

  <section class="page-section bg-light">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <#
          <h2 class="section-heading text-uppercase">How It Works</h2>
          <h5 class="section-subheading text-muted">(the quick and simple explanation)</h5>
          #>
          <h2 class="section-heading text-uppercase">Swapping Banks</h2>
        </div>
      </div>
      <a class="anchor" id="swap-banks"></a>
      <% include "partials/swap-banks.html" %>
    </div>
  </section>

  <section class="page-section bg-light">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <a href="#top" class="btn btn-lg btn-outline-primary">Back to Top</a>
        </div>
      </div>
    </div>
  </section>


<% endblock %>
