<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="<$ meta_description $>">
    <meta name="author" content="<$ meta_author $>">

    <title><$ title $></title>

    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>

    <link href="/css/agency.min.css" rel="stylesheet">
    <link href="/css/mas-effects.min.css" rel="stylesheet">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <% block head_additions %><% endblock %>
  </head>

  <body id="page-top">

    <% include "partials/_navigation.html" %>

    <% block body %><% endblock %>

    <footer class="footer bg-dark text-white">
      <div class="container">
        <div class="row align-items-center">
          <div class="col">
            <div class="copyright">Copyright &copy; 2020 <a class="text-white" href="/">MAS Effects</a></div>
            <div>
              <a href="https://mas-effects.square.site/contact-us" class="text-white" target="_blank">Contact</a>
              |
              <a target="_blank" href="https://www.instagram.com/mas_effects/" class="text-white">Instagram</a>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="/js/agency.min.js"></script>
    <script src="/js/mas.min.js"></script>
  </body>

</html>
