<table class="table"><thead><tr><th>Name</th> <th>Knob 1</th> <th>Knob 2</th> <th>Knob 3</th></tr></thead> <tbody><tr><td>
                    Chorus + Reverb
                  </td> <td>Reverb mix</td> <td>Rate</td> <td>Chorus mix</td></tr><tr><td>
                    Flanger + Reverb
                  </td> <td>Reverb mix</td> <td>Rate</td> <td>Flanger mix</td></tr><tr><td>
                    Tremolo + Reverb
                  </td> <td>Reverb mix</td> <td>Rate</td> <td>Tremolo mix</td></tr><tr><td>
                    Pitch shift
                  </td> <td>Pitch +/- 4 semitones</td> <td>-</td> <td>-</td></tr><tr><td>
                    Pitch Echo
                  </td> <td>Pitch</td> <td>Delay</td> <td>Echo mix</td></tr><tr><td>
                    Reverb 1
                  </td> <td>Time</td> <td>High filter</td> <td>Low filter</td></tr><tr><td>
                    Reverb 2
                  </td> <td>Time</td> <td>High filter</td> <td>Low filter</td></tr></tbody></table>
