<div class="row">
  <div class="col faq">
    <h5>
      <a href="#faq1" data-toggle="collapse" aria-expanded="false" aria-controls="faq1">
        <i class="fas fa-caret-right"></i>
        Can I hear it?!
      </a>
    </h5>
    <div class="collapse" id="faq1">
      <p>
      Check out the <a target="_blank" href="https://www.youtube.com/watch?v=--YZoidPLSY">demo video on YouTube</a>, or in the <a href="#walkthrough">Walkthrough section</a> above to hear a variety of patches.
      </p>
      <p>
      If you're looking to hear <em>all</em> of the patches, that's simply not feasible. See <a href="#hear-it">more details in the "PATCHES" section above</a> for an explanation. If you're worried about the risk of not liking it, we'll mitigate that risk in 2 key ways:
      </p>
      <ol>
        <li>Although it's not practical for me to give demos of 163+ patches, I do guarantee you'll find at least a couple you love, or you can simply send it back for a refund within 7 days.</li>
        <li>You can order as many banks as you like (effectively at-cost), and <a href="#swap-banks">swap them out</a> until you find what you love. Then <a href="mailto:mark@mas-effects.com">email me</a> and I can send you a consolidated pair of banks.</li>
      </ol>
    </div>

    <h5>
      <a href="#faq2" data-toggle="collapse" aria-expanded="false" aria-controls="faq2">
        <i class="fas fa-caret-right"></i>
        Is this a multi-effects unit?
      </a>
    </h5>
    <div class="collapse" id="faq2">
      <p>No. Not in the way you're probably imagining. You don't pick and choose multiple effects to chain or layer like you would with a modeling amp, or a little pod unit. Those are a jack of all trades, and master of none.</p>
      <p>The patches written for this pedal use low-level DSP code that modify the audio signal in complex mathematical ways. Each is written very specifically for the desired effect, and the result is a single "pedal". It requires 100% of the hardware and DSP's capabilities to run, so you can only use a single patch at a time.</p>
      <p>A patch is not a collection of approximated (or modeled) pedals; it's a single pedal, precisely.</p>
    </div>

    <h5>
      <a href="#faq3" data-toggle="collapse" aria-expanded="false" aria-controls="faq3">
        <i class="fas fa-caret-right"></i>
        What if I want to use multiple patches at the same time?
      </a>
    </h5>
    <div class="collapse" id="faq3">
      <p>Since this is a high-quality DSP, and not a general-purpose modeler, you can only run a single patch at a time.</p>
      <p>If you find more than one patch you love, and want to run them both (and I suspect you will!), you can obviously buy another Mimir's Well pedal. This is a limited-time small batch of pedals, though, and they may sell out.</p>
      <p>I'm offering an ongoing made-to-order smaller version of this pedal. For $219 (and occasionally less) you can get the same great sounds in a smaller package, with a single custom bank (8 patches), and no screen.</p>


      <p>Because these are made-to-order, that also means you can choose custom colors, labels, and pick from a variety of graphics to really make it your own.</p>

      <div class="text-center">
        <div class="mb-2">
          <a href="https://mas-effects.square.site/product/shelter/15?cp=true&sa=true&sbp=false&q=false" target="_blank">
            <img class="img-fluid lazy faq-img" src="/img/other-pedals/fv1-placeholder.jpg" data-src="/img/other-pedals/fv1.png" alt="Screenless version of Mimirs Well" />
          </a>
        </div>
        <div class="mt-2">
          <a class="btn btn-sm btn-outline-primary" href="https://mas-effects.square.site/product/shelter/15?cp=true&sa=true&sbp=false&q=false" target="_blank">
            Purchase Here
          </a>
        </div>
      </div>
    </div>

    <h5>
      <a href="#faq-more" data-toggle="collapse" aria-expanded="true" aria-controls="faq-more">
        <i class="fas fa-caret-right"></i>
        More questions?
      </a>
    </h5>
    <div class="show" id="faq-more">
      <p>
        If you have other questions I didn't address on this page, please email me: <a href="mailto:mark@mas-effects.com">mark@mas-effects.com</a>
      </p>
    </div>

  </div>
</div>
