<div class="row">
  <div class="col-6 col-md-3 col-lg-3 pointer">
    <a target="_blank" href="/img/gallery/pedalboard.jpg">
      <img class="lazy img-thumbnail img-fluid" src="/img/gallery/pedalboard-placeholder.jpg" data-src="/img/gallery/pedalboard-reduced.jpg" alt="Pedalboard with the same pedal - Mimirs Well" />
    </a>
  </div>
  <div class="col-6 col-md-3 col-lg-3 pointer">
    <a target="_blank" href="/img/gallery/mimirs-well-on-amp1.jpg">
      <img class="lazy img-thumbnail img-fluid" src="/img/gallery/mimirs-well-on-amp1-placeholder.jpg" data-src="/img/gallery/mimirs-well-on-amp1-reduced.jpg" alt="Mimirs Well" />
    </a>
  </div>
  <div class="col-6 col-md-3 col-lg-3 pointer">
    <a target="_blank" href="/img/gallery/midnight.jpg">
      <img class="lazy img-thumbnail img-fluid" src="/img/gallery/midnight-placeholder.jpg"  data-src="/img/gallery/midnight-reduced.jpg" alt="Mimirs Well - Midnight Edition" />
    </a>
  </div>
  <div class="col-6 col-md-3 col-lg-3 pointer">
    <a target="_blank" href="/img/gallery/back.jpg">
      <img class="lazy img-thumbnail img-fluid" src="/img/gallery/back-placeholder.jpg" data-src="/img/gallery/back-reduced.jpg" alt="Mimirs Well" />
    </a>
  </div>
</div>
