<div class="row">
  <div class="col-12 col-md-5 col-lg-4 order-2 order-md-1 pt-5">
    <ol class="control-labels">
      <li><strong>Parameter Controls</strong>: the 3 white knobs control different parameters depending on which patch you're running</li>
      <li><strong>Patch Name</strong></li>
      <li><strong>Patch Selection</strong>: choose between patches in the selected bank <small>(3 banks of 23 patches)</small></li>
      <li><strong>Volume</strong></li>
      <li><strong>3-way Bank Selection</strong>: select between the built-in bank of patches, and 2 banks of custom patches</li>
      <li><strong>Wet/Dry Mix</strong></li>
      <li><strong>True Bypass</strong></li>
      <li><strong>Top Mounted Jacks</strong></li>
      <li><strong>Power</strong>: 9V, center negative power supply required <small><em>(not included)</em></small></li>
    </ol>
  </div>
  <div class="col-12 col-md-7 col-lg-8 order-1 order-md-2">
    <img class="img-fluid lazy" src="/img/labels-placeholder.jpg" data-src="/img/labels.png" alt="walkthrough of Mimir's Well" />
  </div>
</div>
