<div class="row">
  <div class="col-12 col-lg-8 order-2 order-lg-1">

    <p>
    <strong>Mimir's Well</strong> is a <strong>very limited</strong> batch of <strong>expertly handcrafted</strong> guitar pedals
    powered by the extremely popular <em>FV-1 DSP</em> (digital signal processor). It allows you to run audio processing patches that create amazing reverb, delay, pitch, and other effects.
    <!--
    Some patches provide a <strong>single effect</strong> with controls to dial in their details, while other patches <strong>layer multiple effect types</strong> to create unique and interesting soundscapes.
    -->
    </p>
    <h5 class="text-muted text-center">NOT a Cheap Multi-FX</h5>
    <p>
      This is the same chip that powers pedals such as the EQD Rainbow Machine and Dispatch Master, Subdecay Super Spring Theory, EHX Holy Stain, Catalinbread Topanga, Walrus Arp 87 and Fathom, Black Hole Symmetry, Fuchs Plush Good Verbrations, and tons more.

      <# While those other pedals are standalone, each housing a single patch, Mimir's Well holds 23: you load and switch between <strong>16 custom patches</strong> in addition to the 7 great, built-in effects.  #>

Just like those, it uses all of its hardware to run a single patch at a time. Unlike those, however, it also <strong>holds 23 patches</strong> you can switch between.
    </p>
    <h5 class="text-muted text-center">Make It Yours</h5>
    <p>
    You <strong>customize your pedal</strong> by choosing from <strong>163+ available patches</strong> designed by professional audio engineers and amazing members of the DIY pedal community.
    </p>
    <h5 class="text-muted text-center">Who's This For?</h5>
    <p>You will be delighted with this pedal if you want...</p>
    <ul>
      <#
      <li>...to find your single, perfect pedal without buying and selling dozens of single-patch pedals.
        <ul>
          <li>Most of us don't really need or want 23 new pedals (patches). But Mimir's Well provides the perfect platform to easily (and cheaply!) <strong>find the one or two new pedals</strong> we'll <em>really, really love</em>.</li>
        </ul>
      </li>
      #>
      <li>...to easily (and cheaply!) <strong>find one or two new pedals</strong> you'll <em>really, really love</em>
        <ul>
          <li>Most of us don't actually need the dozens of new pedals (patches) you can get with Mimir's Well, but it lets you avoid months of buying <small>(then going through the hassle of selling)</small> dozens of single-patch pedals in search for that perfect sound</li>
        </ul>
      </li>
      <li>...to try every <strong>nuanced variation</strong> of a specific effect type, and dial in to perfection
        <ul>
          <li>Find a perfect tape echo: Single or dual head? Or triple tap? With or without ping pong?</li>
        </ul>
      </li>
      <li>...to endlessly experiment with <strong>dozens of different effects</strong>
        <ul>
          <li>Audition as many as you want for $1/patch</li>
        </ul>
      </li>
      <li>...to learn to write your own DSP programs</li>
    </ul>

  </div>
  <div class="col-12 col-lg-4 order-1 order-lg-2 text-center mb-3">
    <a target="_blank" href="/img/cover1.jpg">
      <img class="img-fluid" src="/img/cover1-reduced.jpg" alt="Mimir's Well - FV-1 DSP Pedal Platform" />
    </a>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-12 col-sm-10 col-md-6">
    <a class="btn btn-lg btn-primary btn-block" href="https://mas-effects.square.site/product/mimirs-well/2?cp=true&sa=false&sbp=false&q=false&category_id=3" target="_blank">Buy Now</a>
  </div>
</div>

