<div class="row">
  <div class="col">
    <h3>Choose 16+ Patches</h3>
    <p>
      <a href="/fv1-programs.html">Visit the bank builder</a> to see a list of many of the available custom patches.
      These patches are created by professional audio DSP engineers, as well as members of the DIY pedal community.
    </p>
    <p>
      You can choose 16 custom patches (2 banks of 8) to preload into your pedal, and you can also <a target="_blank" href="https://mas-effects.square.site/product/bank-of-8-extra-programs-for-mimir-s-well/4?cp=true&sa=true&sbp=false&q=false">buy more for $1 each</a>, and <a href="#swap-banks">swap banks</a>.
    </p>
    <div style="text-center">
      <a href="/fv1-programs.html" class="btn btn-outline-primary">Visit Patch List</a>
    </div>
  </div>
</div>

<div class="row mt-3">
  <div class="col">
    <h3>Built-In Patches</h3>
    <p>
      In addition to the custom patches you select, the pedal comes with 7 excellent built-in patches.
    </p>
    <button class="btn btn-success" type="button" data-toggle="collapse" data-target="#built-in-patches-table" aria-expanded="false" aria-controls="built-in-patches-table">
      Click to view
    </button>

    <div class="collapse" id="built-in-patches-table">
      <% include "partials/built-in-programs.html" %>
    </div>
  </div>
</div>

<a class="anchor" id="hear-it"></a>
<div class="row mt-3">
  <div class="col">
    <h3>Let's hear them!</h3>
    <p>Check out the <a target="_blank" href="https://www.youtube.com/watch?v=--YZoidPLSY">demo video on YouTube</a>, or in the <a href="#walkthrough">Walkthrough section</a> above to hear a variety of patches.</p>

    <p>
    Like other FV-1 based pedals, this pedal's sound comes entirely from the patch running on it.
    There are <strong>163+ patches</strong> so it's simply not possible for me to demo all of these.
    <small>(especially since this is a <strong>very small batch</strong> of handmade pedals, not an ongoing production run...  Plus I don't have a decent video rig)</small>
    </p>

    <p>To hear the level of quality you can expect from this pedal and its programs, check out some of the other pedals in the wild that share nearly identical circuitry:</p>
    <ul>
      <li>EQD Dispatch Master</li>
      <li>Subdecay Super Spring Theory</li>
      <li>EHX Holy Stain</li>
      <li>Catalinbread Topanga</li>
      <li>Walrus Arp 87</li>
      <li>Walrus Fathom</li>
      <li>Black Hole Symmetry</li>
      <li>Fuchs Plush Good Verbrations</li>
    </ul>

    <p><strong>I guarantee you will find at least a few you love</strong>, or you can return for a refund within 7 days. Plus, you can <a href="https://mas-effects.square.site/product/bank-of-8-extra-programs-for-mimir-s-well/4?cp=true&sa=true&sbp=false&q=false" target="_blank">try tons of extra patches for only $1 each</a>, then when you narrow it down to the few you love, consolidate them onto 1 or 2 banks. </p>

  </div>
</div>
