<div class="row">
  <div class="col-12 col-md-4 col-lg-6 order-2 order-lg-1">
    <p>If you want to try more than 23 patches, you'll need to swap out the bank chips in the pedal.</p>
    <p><strong>This isn't a routine part of using the pedal</strong>; It's only really for <strong>auditioning a bunch of patches</strong> to find your perfect sounds.</p>
    <p>It's pretty straightforward:</p>
    <ul>
      <li>Banks are pairs of <strong>color-coded EEPROM chips</strong>. The chips are labeled with colored numbers/letters, and the sockets are color-coded too.</li>
      <li><strong>Unscrew</strong> the back plate</li>
      <li><strong>Pull out</strong> a pair of corresponding blue and yellow chips</li>
      <li><strong>Push in</strong> the new one</li>
      <li>It's totally okay, and even recommended to <strong>leave the back plate off</strong> the pedal until you're done auditioning patches</li>
    </ul>
    <p>Once you've tried out everything you're interested in, come back and we'll consolidate your favorites onto 1 or 2 banks so you <strong>never have to swap again</strong>.</p>
  </div>
  <div class="col-12 col-md-8 col-lg-6 order-1 order-lg-2 text-center mb-3">
    <a target="_blank" href="/img/guts-illustrated.png">
      <img class="img-fluid lazy" src="/img/guts-illustrated-placeholder.jpg" data-src="/img/guts-illustrated.png" alt="Inside Mimirs Well - swapping banks" />
    </a>
  </div>
</div>
