<div class="row text-center">
  <div class="col-12 col-md-4">
    <span class="fa-stack fa-4x">
      <i class="fas fa-circle fa-stack-2x text-primary"></i>
      <i class="fas fa-wine-glass-alt fa-stack-1x fa-inverse"></i>
    </span>
    <h4 class="service-heading">The Connoisseur</h4>
    <div class="subheading mb-2">Your meticulously selected, killer effects</div>
    <p class="text-muted text-justify">We can help you sort through hundreds of awesome pedal programs and <strong>find the precious few</strong> you'll take to your grave...</p>
  </div>
  <div class="col-12 col-md-4">
    <span class="fa-stack fa-4x">
      <i class="fas fa-circle fa-stack-2x text-primary"></i>
      <i class="fas fa-crosshairs fa-stack-1x fa-inverse"></i>
    </span>
    <h4 class="service-heading">The Specialist</h4>
    <div class="subheading mb-2">Deep dive into one effect</div>
    <p class="text-muted text-justify">
    Want <strong>every possible variation</strong> of a Shimmer Reverb, or half a dozen Ping Pong delays? You'll have plenty of options to dial in the perfect sound...</p>
  </div>
  <div class="col-12 col-md-4">
    <span class="fa-stack fa-4x">
      <i class="fas fa-circle fa-stack-2x text-primary"></i>
      <i class="fas fa-cogs fa-stack-1x fa-inverse"></i>
    </span>
    <h4 class="service-heading">The Tinkerer</h4>
    <div class="subheading mb-2">Endlessly experiment</div>
    <p class="text-muted text-justify">Want to <strong>explore dozens or hundreds</strong> of pedals? Maybe even write your own?! This is the platform for you...</p>
  </div>
</div>
