<div class="row d-md-none">
  <div class="col">
    <ul>
      <li><a href="#model1"><strong>$219</strong>: Budget Option</a></li>
      <li><a href="#model2"><strong>$289</strong>: Flagship Pedal</a></li>
      <li><a href="#model3"><strong>$389</strong>: Custom Package</a></li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-12 col-sm-12 col-md-4 mt-2">
    <div class="anchor" id="model1"></div>
    <div class="comparison-cell h-100">
      <div class="audience"><h4>Budget</h4></div>
      <h5 class="which-pedal">Mimir's Horn</h5>
      <div class="price">
        <h3>$219</h3>
      </div>
      <p>Get the exact same, fantastic sounds as Mimir's Well, but in a smaller package with a fewer bells and whistles.</p>
      <ul>
        <li>8 custom patches in a single bank</li>
        <li>Additional patches for only $1 each
          <small><em>(requires <a href="#swap-banks">swapping internal banks</a>)</em></small>
        </li>
        <li>Customize your labels</li>
        <li>Choose from a variety of graphic options</li>
      </ul>
      <div class="text-center mb-2">
        <a href="https://mas-effects.square.site/product/shelter/15?cp=true&sa=true&sbp=false&q=false" target="_blank">
          <img class="img-fluid lazy" src="/img/other-pedals/fv1-placeholder.jpg" data-src="/img/other-pedals/fv1.png" alt="Screenless version of Mimirs Well" />
        </a>
      </div>
      <div class="text-center mb-2 p-2">
        <a class="btn btn-outline-primary btn-block" href="https://mas-effects.square.site/product/shelter/15?cp=true&sa=true&sbp=false&q=false" target="_blank">GET ONE</a>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-12 col-md-4 mt-2">
    <div class="anchor" id="model2"></div>
    <div class="comparison-cell h-100">
      <div class="audience flagship"><h3>Flagship</h3></div>
      <h5 class="which-pedal">Mimir's Well</h5>
      <div class="price">
        <h3>$289</h3>
      </div>
      <p>This is the most popular, flagship pedal, described throughout this page.</p>
      <ul>
        <li>23 patches: 2 banks of 8 custom patches, and 1 bank of <a href="#built-in-patches">7 fantastic build-in effects</a></li>
        <li>Additional patches for only $1 each
          <small><em>(requires <a href="#swap-banks">swapping internal banks</a>)</em></small>
        </li>
        <li>Full color 2.8" screen makes it dead-simple to use</li>
      </ul>

      <div class="text-center mb-2">
        <a href="https://mas-effects.square.site/product/mimirs-well/2?cp=true&sa=false&sbp=false&q=false&category_id=3" target="_blank">
          <img class="img-fluid lazy" src="/img/cover1-squared-reduced-placeholder.jpg" data-src="/img/cover1-squared-reduced.jpg" alt="Mimirs Well" />
        </a>
      </div>
      <div class="text-center mb-2 p-2">
        <a class="btn btn-primary btn-block" href="https://mas-effects.square.site/product/mimirs-well/2?cp=true&sa=false&sbp=false&q=false&category_id=3" target="_blank">GET ONE</a>
        <p>
          <small>
            We also have a <a target="_blank" href="https://mas-effects.square.site/product/mimirs-well-midnight-edition/13?cp=true&sa=false&sbp=false&q=false&category_id=3">couple Midnight Edition</a> pedals, or a <a target="_blank" href="https://mas-effects.square.site/product/mimirs-well-blemished/14?cp=true&sa=false&sbp=false&q=false&category_id=3">reduced cost blemished pedal</a>.
          </small>
        </p>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-12 col-md-4 mt-2">
    <div class="anchor" id="model3"></div>
    <div class="comparison-cell h-100">
      <div class="audience"><h4>Plus</h4></div>
      <h5 class="which-pedal">Mimir's Well: Custom Package</h5>
      <div class="price">
        <h3>$389</h3>
      </div>
      <p>This deluxe edition is the same great Mimir's Well pedal described throughout this page, but gives you the flexibility to make it 100% your own.</p>
      <ul>
        <li>Customize graphics</li>
        <li>Customize labels</li>
        <li>Choose knobs and colors</li>
        <li>Free t-shirt</li>
      </ul>
      <div class="text-center mb-2">
        <a href="https://mas-effects.square.site/product/deposit-on-a-custom-pedal/17?cp=true&sa=true&sbp=false&q=false" target="_blank">
          <img class="img-fluid lazy" src="/img/deluxe-placeholder.jpg" data-src="/img/deluxe.jpg" alt="Mimirs Well Deluxe Edition" />
        </a>
      </div>
      <div class="text-center mb-2 p-2">
        <a class="btn btn-outline-primary btn-block" href="https://mas-effects.square.site/product/deposit-on-a-custom-pedal/17?cp=true&sa=true&sbp=false&q=false" target="_blank">GET ONE</a>
      </div>
    </div>
  </div>
</div>
