.TODO {
  background-color: #fff700;
}

.anchor {
  display: block;
  position: relative;
  top: -250px;
  visibility: hidden;
}

.pointer {
  cursor: pointer;
}

.subheading {
  font-style: italic;
  font-family: 'Droid Serif', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.bg-teal {
  background-color: #83d3c9;
  color: #fff;
}

.navbar-brand {
  font-size: 1em;
  font-weight: bold;
}

.intro-lead-in {
  font-weight: 400;
}

.normal-style {
  font-style: normal !important;
}

.caption {
  text-align: center;
  font-size: 0.85rem;
}

.service-heading {
  margin: 15px 0;
  text-transform: none;
}

.loading {
  font-size: 2rem;
  font-weight: bold;
  border: 2px solid #f7f17e;
  background-color: #fcfbe0;
  padding: 2rem;
}

.program-list {
  font-family: 'Droid Serif', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.program-list .details {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.85rem;
  padding-left: 3rem;
}

.program-list .in-bank {
  background-color: #dbffe5;
}

.program-row {
  cursor: pointer;
}

td.details {
  border-top: 0px;
}

.category-heading {
  cursor: pointer;
  border: 1px solid #a5a5a5;
  padding: 1rem;
}

.category-heading:hover, .category-heading.open {
  background-color: #6b95bf;
  color: #fff;
}

.category-heading:hover h2.link, .category-heading:hover h3.link, .category-heading.open h2.link, .category-heading.open h3.link {
  color: #fff;
}

.category-heading h2.link, .category-heading h3.link {
  font-size: 1.5rem;
  text-decoration: underline;
  color: #6b95bf;
}

#bank-builder {
  margin-bottom: 400px;
}

.cart-trigger, .cart-contents {
  position: fixed;
  bottom: 20px;
  right: 10%;
  box-shadow: -2px 3px 7px 0px rgba(50, 50, 50, 0.57);
}

.cart-trigger {
  padding: 1rem;
  background-color: #48a151;
  color: #fff;
  border: 1px solid #a5a5a5;
  border-radius: 5px;
}

.cart-contents {
  min-width: 280px;
  max-width: 360px;
  min-height: 280px;
  max-height: 500px;
  overflow: scroll;
  background-color: #fff;
  border: 1px solid #a5a5a5;
}

.cart-contents-enter-active, .cart-contents-leave-active {
  transition: transform .3s !important;
}

.cart-contents-enter, .cart-contents-leave-to {
  transform: translateX(350px) !important;
}

.cart-trigger-enter-active, .cart-trigger-leave-active {
  transition: transform .3s !important;
}

.cart-trigger-enter, .cart-trigger-leave-to {
  transform: translateY(150px) !important;
}
